:root {
  --accent-color: #2196f3;
  --main-font:"Roboto", sans-serif;
}
 body {
  font-family: var(--main-font);
 }

 .contact {
  font-style: normal;
}

/* ===============specification===============*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
margin: 0;
}

img {
display: block;
}
/* ===============end specification===============*/
/* =============== HEADER ===============*/
.logo{
font-family:'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1,192;
letter-spacing: 0.03em;
}
.logo-web {
color: var(--accent-color)
}
.logo-studio{
color: #000000;
}
.link,
.contact-header-tel,
.contact-header-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: #212121;
}
.link:hover,
.link:focus,
.contact-header-tel:hover,
.contact-header-tel:focus,
.contact-header-mail:hover,
.contact-header-mail:focus,
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color)
}
.navigation-list .link.is-current {
  color: #2196f3;
}
.contact-header-tel,
.contact-header-mail {
  color: #757575;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.contact-list {
  display: flex;
}
.header .logo {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.header .contact {
  margin-left: auto;
}
.contact-header-mail {
  margin-right: 50px;
}
.header.container {
display: flex;
max-width:1600px;
min-height:80px;
align-items: center;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
/* =============== end header ===============*/
/* =============== title ===============*/


.hero {
background-color: #2F303A;
max-width: 1600px;
min-height: 600px;
justify-content: center;
text-align: center;
align-items: center;
}
.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1, 363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #ffffff;
margin-bottom: 30px;
}

.button {
justify-content: center;
text-align: center;
align-items: center:
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* =============== end title ===============*/

/* =============== Features ===============*/
.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1,142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features-description{
font-weight: 400;
font-size: 14px;
line-height: 1,714;
letter-spacing: 0.03em;
color: #757575;
}
/* =============== end features ===============*/
/* =============== tasks ===============*/
.task{
font-weight: 700;
font-size: 36px;
line-height: 1,166;
letter-spacing: 0.03em;
color: #212121;
}
/* =============== end tasks ===============*/
/* ===============team ===============*/
.team {
font-weight: 700;
font-size: 36px;
line-height: 1,166;
letter-spacing: 0.03em;
color: #212121;
}
.team-name {  
font-weight: 500;
font-size: 16px;
line-height:1,187;
letter-spacing: 0.03em;
color: #212121;
}
.team-designation{
font-weight: 400;
font-size: 16px;
line-height:1,187;
letter-spacing: 0.03em;
color: #757575;
}
/* =============== end team ===============*/
/* ===============footer ===============*/
.contact-footer-tel,
.contact-footer-mail,
.contact-footer-map {
font-weight: 400;
font-size: 14px;
line-height: 1,714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.contact-footer-map {
color: white;
}
.footer {
background: #2F303A;
}
/* ===============end footer===============*/

/* ===============portfolio page ===============*/
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--accent-color)
}
.filtr-btn {
font-weight: 500;
font-size: 16px;
line-height: 1,625;
letter-spacing: 0.03em;
color: #212121;
}
.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-description {
font-weight: 400;
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.03em;
color: #757575;
}
.footer-logo-studio {
color: #FFFFFF;
}
/* ===============end portfolio page ===============*/

